@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-color: white;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

div {
    padding-left: 20px;
    width: 500px;
    margin-top: 10px;
}

span {
    color: rgb(255 111 32);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

dt {
    float: left;
    margin-right: 6px;

}

dd {
    padding-top: 4px;
    margin-left: 0px;

    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;

}

p {
    margin-bottom: 30px;
    margin-top: -3px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

li {
    margin-top: 6px;
    padding-left: 7px;
    margin-left: -35px;
height: 35px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

h3 {
    margin-top: 6px;
}

ol {
    list-style-type: none;
}
ol li::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: 16px;
    background-image: url(../img/limarker.png);
}

